* {
    outline: 2px dotted green;
}

h1 {
    color: blue;
}

.div {
}

.form {

}

#button {

}

.country {
    color: blue;
    background-color: black;
}

.country.h3 {
    background-color: purple;
}