* {
    outline: 2px dotted green;
    font-family: 'Poiret One', sans-serif;
    background-color: rgb(251, 227, 190);
}

h1 {
    color: #EBBC4E;
    background-color: #fbe5a1; 
    text-align: center;
    font-weight: 1000;
    font-size: 40px;
    padding: 5px 5px;
    border: double black
    ;
}

.form {
    justify-content: center;
    color: red;
    width: 900px;
    text-align: center;
}

input {
    color: black;
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 192px;
    text-align: center;
    background-color: #f5f5dc;

}

button {
    background-color: #5dbea3;
    color: white;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
    display: flex;
    width: 200px;

    
}

.country {
    color: black;
    background-color: #ebd0d0;
    text-transform: uppercase;
    display: flexbox;
    flex-wrap: wrap-reverse;
    object-fit: fill;
    justify-content: center;
    width: 100%;
}
